.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
h1 {
  margin-top: 5%;
}
ul {
  padding: 0;
  margin: 0 auto;
  width: 80%;
}
li {
  margin: 0;
  list-style-type: none;
  text-align: left;
  width: 100%;
  background-color: rgb(40, 44, 52);
  margin-bottom: 10px;
  border-bottom: 2px solid rgba(250, 250, 250, 0.5);
}
a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 0.5rem 0 2rem 0;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
